:root {
  --color-background: #242424;
  --color-background-red-light: #E25D6B;
  --color-background-red-dark: #B83229;
  --color-background-grey-light: #D1D4CD;
  --color-background-grey-dark: #545359;
  --color-background-brown-dark: #423232;
  --color-background-white: #FFFFFF;
  --color-background-light-blue: #6F9BD6;
  --color-background-dark-blue: #1338BE;
  --color-title: #000000;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@mixin medium {
  @media(min-width: 768px) {
    @content;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  text-align: center;
  min-height: inherit;
  width: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
